include README.md LICENSE.md
include buildutils/*.py
include _custom_build/*.py
recursive-include capnp *.py *.pyx *.pxd *.h *.cpp
recursive-include test *.py *.capnp *.binary *.txt
exclude capnp/lib/capnp.cpp capnp/lib/capnp.h capnp/lib/capnp_api.h
