include README.md LICENSE.md
recursive-include vendor/capnproto *.h *.c++ *.txt *.md *.capnp
recursive-include capnp *.py *.pyx *.pxd *.h *.cpp
recursive-include test *.py *.capnp *.binary *.txt
include native/benchmark-results.json native/README.md native/generate.py native/runtime.h native/setup.py native/benchmark.py native/test_native.py native/test.capnp
exclude capnp/lib/capnp.cpp capnp/lib/capnp.h capnp/lib/capnp_api.h
